In [1]:
import pandas as pd
import glob as glob
import plotly.express as px
from pathlib import Path

In [2]:
f = '../data/lluvia/202409010000Lluv.csv'
def importa_lluvia(f,EDO='GRO'):
    try:
        f = Path(f)  # Usamos pathlib para asegurar la compatibilidad
    
        # print(f)
        dat = pd.read_csv(f,encoding='iso-8859-1')
        dat =  dat[dat.EDO==EDO]
        dat.columns = ['LON','LAT','EDO','CLAVE','ESTACION','lluvia']
        
        # anio = f.split('/')[-1].split('.')[0][:4]
        # mes = f.split('/')[-1].split('.')[0][4:6]
        # dia = f.split('/')[-1].split('.')[0][6:8]
    
        nombre_archivo = f.stem  # stem obtiene el nombre del archivo sin la extensión
        anio = nombre_archivo[:4]
        mes = nombre_archivo[4:6]
        dia = nombre_archivo[6:8]
    
        fecha = pd.to_datetime(f'{anio}-{mes}-{dia}')
        # print(fecha)
        fecha = pd.Timestamp(fecha)
        fecha = [fecha] * len(dat)
        dat.index = fecha
        # print(f)
        return dat[['EDO','CLAVE','ESTACION','lluvia']]
    except:
        print(f)
a = importa_lluvia(f)
a.head()

,EDO,CLAVE,ESTACION,lluvia
2024-09-01,GRO,ACAGR,"Acapulco, Gro.",1616.70
2024-09-01,GRO,AERGR,"Observatorio de Chilpancingo Aeropuerto, Gro.",641.00
2024-09-01,GRO,AFIGR,"Andrés Figueroa, Gro.",226.30
2024-09-01,GRO,AHUGR,"Ahuacuotzingo, Gro.",276.40
2024-09-01,GRO,ATENANGOCFE,"Atenango del Río, Gro. CFE*",102.21

In [3]:
archivos = glob.glob('../data/lluvia/*.csv')

lluvia = pd.concat([importa_lluvia(archivo) for archivo in archivos],axis=0)
lluvia.sort_index(inplace=True)
lluvia['ESTACION'] = lluvia['ESTACION'].replace('Las Vigas, Gro. SMN*', 'Las Vigas, Gro.')
lluvia['ESTACION'] = lluvia['ESTACION'].replace('El Puente, Gro. CFE*', 'El Puente, Gro.')

# lluvia = lluvia.reset_index()
type(lluvia)

..\data\lluvia\202207010000Lluv.csv

pandas.core.frame.DataFrame

In [4]:
lluvia.to_parquet("../data/lluvia/lluvia.parquet")

In [5]:
lluvia

            EDO  CLAVE                                       ESTACION  lluvia
2022-01-01  GRO  ACAGR                                 Acapulco, Gro.     0.0
2022-01-01  GRO  AERGR  Observatorio de Chilpancingo Aeropuerto, Gro.     0.0
2022-01-01  GRO  AFIGR                          Andrés Figueroa, Gro.     0.0
2022-01-01  GRO  AHUGR                            Ahuacuotzingo, Gro.     8.6
2022-01-01  GRO  ATYGR                                   Atoyac, Gro.    43.5
...         ...    ...                                            ...     ...
2024-09-01  GRO  TXTGR                                   Tixtla, Gro.   427.1
2024-09-01  GRO  VGRGR                         Vicente Guerrero, Gro.   440.0
2024-09-01  GRO  VTRGR                          Valerio Trujano, Gro.   219.6
2024-09-01  GRO  XXHGR                          Xochihuehuetlán, Gro.   116.0
2024-09-01  GRO  ZHTGR                              Zihuatanejo, Gro.   637.9

[1272 rows x 4 columns]